body {
    font-family: "Times New Rome";
    background-color: #e9ebe6;
    text-align: left;
    margin: 50px;
}

h1 {
    text-align: center;
}

h3, p1 {
    display: inline;
}

.grid-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: #eae5e5; */
    /* border: 2px dashed #ceea41 */
}

/* .link{
    
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}

button {
    background-color: white;
    /* background-color: rgba(233, 228, 209, 0.96); */
    /* border: 1px solid #929292; */
/* } */ 

.link-button {
    display:inline-block;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid #929292;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
}

.link-button:hover {
    background-color: rgba(233, 228, 209, 0.96);  /* Optional hover effect */
}

table, th, td {
    /*border:1px solid rgb(0, 0, 0);*/
    border-collapse: collapse;
    padding: 8px;
    
}

tr {
    border-bottom: 1px solid #929292;
}